###############################################################################################
# This file is part of Risoluto( http://www.risoluto.org/ )
# Risoluto is released under New BSD License( http://opensource.org/licenses/bsd-license.php )
# (C) 2008-2014 Risoluto Developers / All Rights Reserved.# If you want to use "STATIC URL".
###############################################################################################

# Note: If you want to use "STATIC URL", please uncomment the following.
#<IfModule mod_rewrite.c>
#    RewriteEngine On
#    RewriteBase /
#    RewriteRule ^tone/(.*)/$ /index.php?seq=$1 [L]
#</IfModule>
# Note: If you want to use "STATIC URL", please uncomment above.