<!--
This file is part of Risoluto( http://www.risoluto.org/ )
Risoluto is released under New BSD License( http://opensource.org/licenses/bsd-license.php )
(C) 2008-2014 Risoluto Developers / All Rights Reserved.
-->
<phpunit>
    <testsuites>
        <testsuite name="RisolutoConfTest">
            <file>vendor_test/Risoluto/ConfTest/ConfTest4GetParseStatus.php</file>
            <file>vendor_test/Risoluto/ConfTest/ConfTest4Parse.php</file>
            <file>vendor_test/Risoluto/ConfTest/ConfTest4GetIni.php</file>
        </testsuite>
        <testsuite name="RisolutoCoreTest">
            <file>vendor_test/Risoluto/CoreTest/CoreTest.php</file>
        </testsuite>
        <testsuite name="RisolutoDateTest">
            <file>vendor_test/Risoluto/DateTest/DateTest4CnvYear.php</file>
            <file>vendor_test/Risoluto/DateTest/DateTest4GenYear.php</file>
            <file>vendor_test/Risoluto/DateTest/DateTest4GenMonth.php</file>
            <file>vendor_test/Risoluto/DateTest/DateTest4GenDay.php</file>
            <file>vendor_test/Risoluto/DateTest/DateTest4GenHour.php</file>
            <file>vendor_test/Risoluto/DateTest/DateTest4GenMinSec.php</file>
        </testsuite>
        <testsuite name="RisolutoFileTest">
            <file>vendor_test/Risoluto/FileTest/FileTest.php</file>
        </testsuite>
        <testsuite name="RisolutoLogTest">
            <file>vendor_test/Risoluto/LogTest/LogTest.php</file>
        </testsuite>
        <testsuite name="RisolutoSessionTest">
            <file>vendor_test/Risoluto/SessionTest/SessionTest.php</file>
        </testsuite>
        <testsuite name="RisolutoTextTest">
            <file>vendor_test/Risoluto/TextTest/TextTest4AutoUrlLink.php</file>
        </testsuite>
        <testsuite name="RisolutoUrlTest">
            <file>vendor_test/Risoluto/UrlTest/UrlTest4GetBaseUrl.php</file>
            <file>vendor_test/Risoluto/UrlTest/UrlTest4RedirectTo.php</file>
        </testsuite>
        <testsuite name="RisolutoValidateTest">
            <file>vendor_test/Risoluto/ValidateTest/ValidateTest4IsEmailAddr.php</file>
            <file>vendor_test/Risoluto/ValidateTest/ValidateTest4IsHalfWidth.php</file>
            <file>vendor_test/Risoluto/ValidateTest/ValidateTest4IsLeapYear.php</file>
            <file>vendor_test/Risoluto/ValidateTest/ValidateTest4IsBetween.php</file>
        </testsuite>
    </testsuites>
</phpunit>